body {
    color: rgb(122, 9, 62);
  }

h1 {
    color: rgb(14, 70, 14);
  }


body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/022/712/809/original/a-beautiful-fairytale-enchanted-forest-at-night-made-of-glittering-crystals-with-trees-and-colorful-vegetation-generate-ai-free-photo.jpg");
}